.header-text {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
}
.header-logo {
  img {
    height: 100px;
    width: 100px;
  }
  margin: 16px 0px;
}
.header-back {
  max-height: 10%;
  button {
    color: #ffffff !important;
  }
}
.user-name {
  color: #ffffff !important;
  text-align: center;
  max-width: 80px;
  cursor: pointer;
}
