.survey-root {
  width: 90% !important;
  padding: 0 !important;
  .title, .go-back {
    background-color: #2e7d32;
  }
}
.survey-wrappper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
  a {
    text-decoration: none;
  }
  h4 {
    font-weight: bold !important;
    margin-bottom: 8px;
  }
}
.survey {
  margin: 16px 0px;
}
.submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
