.quiz-root {
  width: 90% !important;
  padding: 0 !important;
  .content {
    padding: 24px;
  }
  .list {
    margin-top: 24px;
    padding: 24px;
  }
  .title, .go-back {
    background-color: #f9a825;
  }
}

.quiz-announcement {
  margin-top: 64px;
  h2 {
    text-align: center;
  }
}
