.quiz-root {
  width: 90% !important;
  padding: 0 !important;
  .content {
    padding: 24px;
  }
  .list {
    margin-top: 24px;
    padding: 24px;
  }
}

.title {
  margin-top: 32px;
  padding: 16px;
  background-color: #f9a825;
  margin-bottom: 32px;
  h2 {
    text-align: center;
    color: #ffffff !important;
  }
}

.quiz-announcement {
  margin-top: 64px;
  h2 {
    text-align: center;
  }
}
